.App {
  text-align: center;
  background-image:url("./images/cocktail.jpeg"); 
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.container {
  margin-top: 100px;
  padding: 40px;
  border: 1px solid #ddd;
  background-color: white;
  display: inline-block;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 600px;
}

.container input {
  padding: 15px;
  margin: 15px;
  width: 100%;
  max-width: 500px;
  font-size: 16px;
}

.container button {
  padding: 15px;
  width: 100%;
  max-width: 250px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.container button:hover {
  background-color: #0056b3;
}

#main-header {
  font-family: 'Cooper Black', serif;
  color: aqua;
  background-color: black;
  border: solid;
  padding: 30px;
  text-align: center;
}

.switch {
  margin-top: 20px;
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}





